{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}
{% block content %}

    <!-- 导航栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SZ R&D Software Release</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Project</a></li>
                    <li><a href="#">Software</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{user}}</a></li>
                    <li><a href="#">logout</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    {# side bar #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#">Overview <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="#">Reports</a>
                    </li>
                    <li>
                        <a href="#">Analytics</a>
                    </li>
                    <li>
                        <a href="#">Export</a>
                    </li>
                </ul>
            </div>

            <!-- 列表-->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">Software Release</h2>

                <!--dashboard-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
{#                                <h3 class="box-title">版本统计</h3>#}
                                <div class="box-tools pull-right">

                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="bar_container" style="height: 400px"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="pie_container" style="height: 400px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" id="btnSwCreate" class="btn btn-primary ">
                    +NEW
                </button>
                <br> <br>


                <div class="box-doby">
                    <table id="dtbList" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr valign="middle">
                                <th>WK</th>
                                <th>Project</th>
                                <th>Customer</th>
                                <th>Software</th>
                                <th>Release&nbsp;Type</th>
                                <th>Build&nbsp;Type</th>
                                <th>Release_Date</th>
                                <th>Status</th>
                                <th>Operator</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'plugins/echarts/echarts.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'echarts-2.2.7/build/dist/echarts-all.js' %}"></script>
{#    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>#}

    <script type="text/javascript">
    var oDataTable=null;
    $(function () {
        oDataTable = initTable();
        function initTable() {
            var oTable=$('#dtbList').DataTable($.extend(true, {}, DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,
                    {
                        ajax : {
                            "url": "{% url 'software-list' %}"
                        },

                        columns : [
                            {
                                data : "weekly"
                            },
                            {
                                data : "project_name"
                            },
                            {
                                data : "customer_name"
                            },
{#                            {#}
{#                                data : "customer_id"#}
{#                            },#}
                            {
                                data : "software_version"
                            },
                            {
                                data : "release_type",
                                render : function(data, type, row, meta) {
                                    if (data==0){
                                        var ret="<button class='btn btn-success btn-xs'>1st release</button>";
                                        return ret;
                                    }if (data==1){
                                        var ret="<button class='btn btn-danger btn-xs'>Re-release</button>";
                                        return ret;
                                    }
                                }
                            },
                            {
                                data : "build_type",
                                render : function(data, type, row, meta) {
                                    if (data==0){
                                        var ret="<button class='btn btn-success btn-xs'>1st build</button>";
                                        return ret;
                                    }if (data==1){
                                        var ret="<button class='btn btn-danger btn-xs'>Re-build</button>";
                                        return ret;
                                    }
                                }
                            },
                            {
                                data : "actual_release_date"
                            },
                            {
                                data : "status",
                                render : function(data, type, row, meta) {
                                    if (data==0){
                                        var ret="<button class='btn btn-warning btn-xs'>OPEN</button>";
                                        return ret;
                                    }if (data==1){
                                        var ret="<button class='btn btn-success btn-xs'>FINISH</button>";
                                        return ret;
                                    }
                                }
                            },
                            {
                                data : "id",
                                render : function(data, type, row, meta) {
                                    var ret="<button title='Edit' onclick='doUpdate("
                                            +data+")'> <i class='glyphicon glyphicon-pencil'></i></button>";
                                    ret=ret+"<button title='Delete' onclick='doDelete("
                                            +data+")'> <i class='glyphicon glyphicon-trash'></i></button>";
                                    return ret;
                                }
                            }
                        ],

                    }
            ));
            return oTable;
        }



    $("#btnSwCreate").click( function () {
        var div=layer.open({
    {#        0(信息框，默认是0），1（页面层），2（iframe层)，3（加载层），4（tips层）#}
            type:2,
            title:"New",
            shadeClose:false,
            maxmin:true,
            area:['800px','580px'],
            content:"{% url 'software-create' %}",
            end: function () {
                window.location.reload();
            }
        });
        layer.full(div)
    });

        //echarts
        var bar_dom = document.getElementById("bar_container");
        var myBarChar = echarts.init(bar_dom);
        option = null;
        option = {
            title : {
                text : 'Data',
                subtext : ''
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:["版本总数", "版本重编", "版本重出"]
            },
            toolbox: {
                show : true,
                feature : {
                    mark: {show:true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov', 'Dec']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name: '版本总数',
                    type: 'bar',
                    data: {{ month_software_count }},
                    markPoint: {
                        data:[
                            {type: 'max', name:'max'},
                            {type: 'min', name:'min'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name:'average'}
                        ]
                    },
                },
                {
                    name: '版本重编',
                    type: 'bar',
                    data: {{ month_rebuild_count }},
                    markPoint: {
                        data:[
                            {type: 'max', name:'max'},
                            {type: 'min', name:'min'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name:'average'}
                        ]
                    }
                },
                {
                    name: '版本重出',
                    type: 'bar',
                    data: {{ month_re_release_count }},
                    markPoint: {
                        data:[
                            {type: 'max', name:'max'},
                            {type: 'min', name:'min'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name:'average'}
                        ]
                    }
                }
            ]

        };

        if (option && typeof option === "object") {
            myBarChar.setOption(option, true);
        }

        //weekly
        var pie_dom = document.getElementById("pie_container");
        var myPieChart = echarts.init(pie_dom);
        option = null;
        option = {
            title : {
                text : 'Data',
                subtext : ''
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:["版本总数", "版本重编", "版本重出"]
            },
            toolbox: {
                show : true,
                feature : {
                    mark: {show:true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['MON','TUE','WED','THU','FRI','SAT','SUN']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name: '版本总数',
                    type: 'line',
                    data: {{ day_software_count }},
                    markPoint: {
                        data:[
                            {type: 'max', name:'max'},
                            {type: 'min', name:'min'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name:'average'}
                        ]
                    },
                },
                {
                    name: '版本重编',
                    type: 'line',
                    data: {{ day_rebuild_count }},
                    markPoint: {
                        data:[
                            {type: 'max', name:'max'},
                            {type: 'min', name:'min'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name:'average'}
                        ]
                    }
                },
                {
                    name: '版本重出',
                    type: 'line',
                    data: {{ day_re_release_count }},
                    markPoint: {
                        data:[
                            {type: 'max', name:'max'},
                            {type: 'min', name:'min'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name:'average'}
                        ]
                    }
                }
            ]

        };

        if (option && typeof option === "object") {
            myPieChart.setOption(option, true);
        }


    });
function doUpdate(id) {
    var div=layer.open({
        type: 2,
        title: 'edit',
        shadeClose: false,
        maxmin: true,
        area: ['800px', '600px'],
        content: ["{% url 'software-update' %}" + '?id=' + id],
        end: function () {
            window.location.reload();
        }
    });
    layer.full(div)
}

function doDelete(id){
    layer.alert('Delete？', {
        title:'Tips'
        ,icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
        ,time: 0 //不自动关闭
        ,btn: ['YES', 'NO']
        ,yes: function(index){
            layer.close(index);
            $.ajax({
                type: "POST",
                url : "{% url 'software-delete' %}",
                data : {"id":id},  //防止post数据时报 csrf_token 403
                cache: false,
                success : function(msg) {
                    if (msg.status == 'success'){
                        layer.alert('success',{icon: 1});
                        window.location.reload();
{#                        oDataTable.ajax.reload();#}
                    }else{
                        //alert(msg.message);
                        layer.alert(msg.status, {icon: 4});
                    }
                    return ;
                }
            });
        }
    });
}

</script>
{% endblock %}

