{% extends "base.html" %}
{% block content %}

    <!-- 导航栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index/">SZ R&D Software Release</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Project</a></li>
                    <li><a href="#">Software</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{user}}</a></li>
                    <li><a href="#">logout</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main">
        <div class="row" style="margin-top:120px">
            <div class="col-lg-6">
                 <form role="form" method="post" action="/edit_items_save/{{ ver.id }}/">
                     <fieldset class="module aligned ">
                         <div class="form-row">
                             <div>
                                 <label for="id_id">ID:</label>
                                 <input class="form-control" id="id_id" maxlength="20" name="id" type="text" value="{{ ver.id }}" readonly />
                             </div>
                         </div>
                         <div class="form-row field-project_name">
                             <div>
                                 <label class="required" for="id_project_name">Project name:</label>
                                 <input class="form-control" id="id_project_name" maxlength="20" name="project_name" type="text" value="{{ ver.project_name }}" required />
                             </div>
                         </div>

                         <div class="form-row field-customer_name">
                             <div>
                                 <label class="required" for="id_customer_name">Customer name:</label>
                                 <input class="form-control" id="id_customer_name" maxlength="20" name="customer_name" type="text" value="{{ ver.customer_name }}" required />
                             </div>
                         </div>

                         <div class="form-row field-customer_id">
                             <div>
                                 <label class="required" for="id_customer_id">Customer id:</label>
                                 <input class="form-control" id="id_customer_id" maxlength="10" name="customer_id" type="text" value="{{ ver.customer_id }}" required />
                             </div>
                         </div>

                         <div class="form-row field-firmware_develop">
                             <div>
                                 <label for="id_firmware_develop">Firmware develop:</label>
                                 <input class="form-control" id="id_firmware_develop" maxlength="254" name="firmware_develop" type="email" value="{{ ver.firmware_develop }}"/>
                             </div>
                         </div>

                         <div class="form-row field-webui_develop">
                             <div>
                                 <label for="id_webui_develop">Webui develop:</label>
                                 <input class="form-control" id="id_webui_develop" maxlength="254" name="webui_develop" type="email" value="{{ ver.webui_develop }}"/>
                             </div>
                         </div>

                         <div class="form-row">
                             <div>
                                 <label for="id_compiler">Compiler:</label>
                                 <input class="form-control" id="id_compiler" maxlength="254" name="compiler" type="email" />
                             </div>
                         </div>

                         <div class="form-row">
                             <div>
                                 <label for="id_verifier">Verifier:</label>
                                 <input class="form-control" id="id_verifier" maxlength="254" name="verifier" type="email" />
                             </div>
                         </div>

                         <div class="form-row">
                             <div>
                                 <label for="id_vpm">VPM:</label>
                                 <input class="form-control" id="id_vpm" maxlength="254" name="vpm" type="email" />
                             </div>
                         </div>

                         <div class="form-row field-software_version">
                             <div>
                                 <label for="id_software_version">Software version:</label>
                                 <input class="form-control" id="id_software_version" maxlength="256" name="software_version" type="text" value="{{ ver.software_version }}"/>
                             </div>
                         </div>

                         <div class="form-row field-software_path">
                             <div>
                                 <label for="id_software_path">Software path:</label>
                                 <textarea class="form-control" cols="40" id="id_software_path" name="software_path" rows="10">{{ ver.software_path }}</textarea>
                             </div>
                         </div>

                         <div class="form-row field-modification">
                             <div>
                                 <label for="id_modification">Modification:</label>
                                 <textarea class="form-control" cols="40" id="id_modification" name="modification" rows="10">{{ ver.modification }}</textarea>
                             </div>
                         </div>

                         <div class="form-row field-plan_release_date">
                             <div>
                                 <label for="id_plan_release_date_0">Plan Release Date:</label>
                                 <p class="datetime">Date:
                                     <input class="vDateField" id="id_plan_release_date_0" name="plan_release_date_0" size="10" type="text" value="{{ ver.plan_release_date|date:"Y-m-d" }}"/>
                                     <br />
                                     Time: <input class="vTimeField" id="id_plan_release_date_1" name="plan_release_date_1" size="8" type="text" value="{{ ver.plan_release_date|date:"H:i:s" }}"/>
                                 </p>
                             </div>
                         </div>

                         <div class="form-row field-actual_release_date">
                             <div>
                                 <label for="id_actual_release_date_0">Actual Release Date:</label>
                                 <p class="datetime">Date:
                                     <input class="vDateField" id="id_actual_release_date_0" name="actual_release_date_0" size="10" type="text" value="{{ ver.actual_release_date|date:"Y-m-d" }}"/>
                                     <br />
                                     Time:
                                     <input class="vTimeField" id="id_actual_release_date_1" name="actual_release_date_1" size="8" type="text" value="{{ ver.actual_release_date|date:"H:i:s" }}"/>
                                 </p>
                             </div>
                         </div>

                        <div class="form-row field-release_delay_reason">
                            <div>
                                <label for="id_release_delay_reason">Release delay reason:</label>
                                <textarea class="form-control" cols="40" id="id_release_delay_reason" name="release_delay_reason" rows="10">{{ ver.release_delay_reason }}</textarea>
                            </div>
                        </div>

                         <div class="form-row field-self_test_result">
                             <div>
                                 <label for="id_self_test_result">Self test result:</label>
                                 <input class="form-control" id="id_self_test_result" maxlength="10" name="self_test_result" type="text" value="{{ ver.self_test_result }}"/>
                             </div>
                         </div>

                        <div class="form-row field-self_test_fail_reason">
                            <div>
                                <label for="id_self_test_fail_reason">Self test fail reason:</label>
                                <textarea class="form-control" cols="40" id="id_self_test_fail_reason" name="self_test_fail_reason" rows="10">{{ ver.self_test_fail_reason }}</textarea>
                            </div>
                        </div>

                         <div class="form-row field-val_verify_result">
                             <div>
                                 <label for="id_val_verify_result">Val verify result:</label>
                                 <input class="form-control" id="id_val_verify_result" maxlength="10" name="val_verify_result" type="text" value="{{ ver.val_verify_result }}"/>
                             </div>
                         </div>

                         <div class="form-row field-val_verify_fail_reason">
                             <div>
                                 <label for="id_val_verify_fail_reason">Val verify fail reason:</label>
                                 <textarea class="form-control" cols="40" id="id_val_verify_fail_reason" name="val_verify_fail_reason" rows="10">{{ ver.val_verify_fail_reason }}</textarea>
                             </div>
                         </div>

                         <div class="form-row field-status">
                             <div>
                                 <label class="required" for="id_status">Status:</label>
{#                                 <input class="form-control" id="id_status" maxlength="20" name="status" type="text" required />#}
                                 <select name="status" id="id_status">
                                     <option value="finish">FINISH</option>
                                     <option value="open">OPEN</option>
                                     <option value="ongoing">ONGOING</option>
                                 </select>
                             </div>
                         </div>
                     </fieldset>
                     <br>
                     <div>
                        <button type="submit" class="btn btn-lg btn-success">Save</button>
                     </div>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}