{% extends "base.html" %}
{% load staticfiles %}

{% block css %}

{% endblock %}

{% block content %}

<div class="box box-danger">
    <form class="form-horizontal" id="addForm" method="post">
        <input type="hidden" name='sw_id' value="{{ ver.id }}"/>
{#        <input type="hidden" name='sw_id' value="{{ ver.id }}"/>#}
        <div class="box-body">
            <fieldset>
                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label" for="id_project_name">Project&nbsp;name:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_project_name" maxlength="20" name="project_name" type="text" value="{{ ver.project_name }}" required />
                    </div>

                    <label class="col-sm-2 control-label" for="id_customer_name">Customer&nbsp;name:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_customer_name" maxlength="20" name="customer_name" type="text" value="{{ ver.customer_name }}" required />
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label" for="id_customer_id">Customer&nbsp;id:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_customer_id" maxlength="10" name="customer_id" type="text" value="{{ ver.customer_id }}" required />
                    </div>

                    <label class="col-sm-2 control-label">Firmware&nbsp;develop:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_firmware_develop" maxlength="254" name="firmware_develop" type="email" value="{{ ver.firmware_develop }}" />
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Webui&nbsp;develop:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_webui_develop" maxlength="254" name="webui_develop" type="email" value="{{ ver.webui_develop }}"/>
                    </div>

                    <label class="col-sm-2 control-label">Compiler:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_compiler" maxlength="254" name="compiler" type="email" value="{{ ver.compiler }}"/>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Verifier:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_verifier" maxlength="254" name="verifier" type="email" value="{{ ver.verifier }}"/>
                    </div>

                    <label class="col-sm-2 control-label">VPM:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_vpm" maxlength="254" name="vpm" type="email" value="{{ ver.vpm }}"/>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Software&nbsp;version:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="id_software_version" maxlength="256" name="software_version" type="text" value="{{ ver.software_version }}"/>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Software&nbsp;path:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" cols="40" id="id_software_path" name="software_path" rows="10">{{ ver.software_path }}</textarea>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Modification:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" cols="40" id="id_modification" name="modification" rows="10">{{ ver.modification }}</textarea>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div>
                        <label class="col-sm-2 control-label">Plan&nbsp;Release&nbsp;Date:</label>
{#                        <p class="datetime">Date:#}
{#                            <input class="vDateField" id="id_plan_release_date_0" name="plan_release_date_0" size="10" type="text" value="{{ ver.plan_release_date|date:"Y-m-d" }}"/>#}
{#                            <br />#}
{#                            Time: <input class="vTimeField" id="id_plan_release_date_1" name="plan_release_date_1" size="8" type="text" value="{{ ver.plan_release_date|date:"H:i:s" }}"/>#}
{#                        </p>#}
                        <div class="col-sm-3">
                            <input type="text" class="form-control pull-right form_datetime" name="plan_release_date" value="{{ ver.plan_release_date |date:'Y-m-d H:m:s'}}"/>
                        </div>
                    </div>

                    <div>
                        <label class="col-sm-2 control-label">Actual&nbsp;Release&nbsp;Date:</label>
{#                        <p class="datetime">Date:#}
{#                            <input class="vDateField" id="id_actual_release_date_0" name="actual_release_date_0" size="10" type="text" value="{{ ver.actual_release_date|date:"Y-m-d" }}"/>#}
{#                            <br />#}
{#                            Time:#}
{#                            <input class="vTimeField" id="id_actual_release_date_1" name="actual_release_date_1" size="8" type="text" value="{{ ver.actual_release_date|date:"H:i:s" }}"/>#}
{#                        </p>#}
                        <div class="col-sm-3">
                            <input type="text" class="form-control pull-right form_datetime" name="actual_release_date" value="{{ ver.plan_release_date |date:'Y-m-d H:m:s'}}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Release&nbsp;delay&nbsp;reason:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" cols="40" id="id_release_delay_reason" name="release_delay_reason" rows="10">{{ ver.release_delay_reason }}</textarea>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Self&nbsp;test&nbsp;result:</label>
{#                    <div class="col-sm-3">#}
{#                        <input class="form-control" id="id_self_test_result" maxlength="10" name="self_test_result" type="text" value="{{ ver.self_test_result }}" />#}
{#                    </div>#}
                    <div class="col-sm-3">
                        <select class="form-control" style="width:100%;" name="self_test_result" id="id_self_test_result" type="text" >
                            {% if ver.val_verify_result == "0" %}
                                <option value=0>PASS</option>
                                <option value=1>FAIL</option>
                            {% else %}
                                <option value=1>FAIL</option>
                                <option value=0>PASS</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Self&nbsp;test&nbsp;fail&nbsp;reason:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" cols="40" id="id_self_test_fail_reason" name="self_test_fail_reason" rows="10">{{ ver.self_test_fail_reason }}</textarea>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Val&nbsp;verify&nbsp;result:</label>
{#                    <div class="col-sm-3">#}
{#                        <input class="form-control" id="id_val_verify_result" maxlength="10" name="val_verify_result" type="text" value="{{ ver.val_verify_result }}"/>#}
{#                    </div>#}
                    <div class="col-sm-3">
                        <select class="form-control" style="width:100%;" name="val_verify_result" id="id_val_verify_result" type="text" >
                            {% if ver.val_verify_result == "0" %}
                                <option value=0>PASS</option>
                                <option value=1>FAIL</option>
                            {% else %}
                                <option value=1>FAIL</option>
                                <option value=0>PASS</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Val&nbsp;verify&nbsp;fail&nbsp;reason:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" cols="40" id="id_val_verify_fail_reason" name="val_verify_fail_reason" rows="10">{{ ver.val_verify_fail_reason }}</textarea>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label" for="id_status">Status:</label>
                    <div class="col-sm-3">
                        <select class="form-control" style="width:100%;" name="status" id="id_status">
                            {% if ver.status == "0" %}
                                <option value=0>OPEN</option>
                                <option value=1>FINISH</option>
                            {% else %}
                                <option value=1>FINISH</option>
                                <option value=0>OPEN</option>
                            {% endif %}
{#                            <option value=0>OPEN</option>#}
{#                            <option value=1>FINISH</option>#}
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="box-footer">
            <div class="row span7 text-center">
                <button type="button" id="btnSave" class="btn btn-success margin-right">Save</button>
                <button type="button" id="btnCancel" class="btn btn-success margin-right">重置</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    $("#btnSave").click(function () {
        var data = $("#addForm").serialize();
        $.ajax({
            type : $("#addForm").attr('method'),
            url : "{% url 'software-update' %}",
            data : data,
            cache : false,
            success : function(msg) {
                if (msg.status == 'success') {
                    layer.alert('success！', {icon: 1},function(index){
					    parent.layer.closeAll(); //关闭所有弹窗
                    });
                }else if (msg.status == 'fail') {
                    layer.alert('fail！', {icon: 1},function(index){
					    parent.layer.closeAll(); //关闭所有弹窗
                    });
                }
                return;

            },
            error: function(msg) {
                layer.alert(msg);
            }

        });
    });

    /*点取消刷新新页面*/
    $("#btnCancel").click(function () {
	    window.location.reload();

    })

    $(".form_datetime").datetimepicker({
            language:  'zh',
{#            minView: 'month', //选择范围知道日期，不选择时分#}
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
{#            format: 'yyyy-mm-dd'#}
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
    });
    </script>
{% endblock %}